/* IMPORTS */
@import url(https://fonts.googleapis.com/css?family=Michroma&text=Rutes%20Collserola);


/* MIXINS, VARIABLES, ETC. */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* ESTILS GENERALS */
body {
  margin: 0;
  background-color: #DDD;
  color: #444;
  font-family: "Dejavu Sans", Arial, sans-serif;
  font-size: 10pt;
  text-align: center;
}

a {
	text-decoration: none;
	color: #444;
}

h1 {
  margin: 0;
  background: #4a9d0e image-url("degradat_h1.jpg") repeat-y 0 0;
  font-size: 36pt;
  font-family: 'Michroma', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
}

h1 a {
	display: block;
  padding: 35px 0 5px 30px;
	text-decoration: none;
	color: #FFF;
}

h2 {
  margin: 0 0 20px;
  font-size: 18pt;
}

h3 {
  margin: -12px 0 20px;
  color: #777;
  font-size: 9pt;
  font-weight: normal;
	
}

ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    display: block; 
  }
}

  ul.menu_h li {
    float: left;
  }
  
img {
  border: 0;
}
  

/* ZONES */
#base {
  width: 970px;
  margin: 20px auto;
  padding: 10px;
  background-color: #FFF;
  text-align: left;
}

  #top {
    padding-bottom: 16px;
    background: transparent image-url("border1.gif") repeat-x left bottom;
  }

  #centre {
    clear: both;
    min-height: 600px;
    padding-top: 40px;
  }

    #left {
      float: left;
      width: 190px;
      min-height: 350px;
      margin-left: 10px;
      padding: 10px;
      background: transparent image-url("degradat_menu_esq.jpg") repeat-x 0 0;
    }

    #main {
    	margin: 0 190px 0 250px;
    }

    #right {
      float: right;
      width: 160px;
      height: 500px;
      background-color: #FFF;
    }

  #peu {
    clear: both;
    margin-top: 30px;
    padding: 25px 0 10px 20px;
    background: transparent image-url("border2.gif") repeat-x 0 0;
    font-size: 9pt;
    color: #666;
  }


/* TOP */
#top {
  img {
    display: block;
    margin-top: 2px;
  }

  #menu_sup {
    margin-top: 2px;
    background-color: #6f6f6f;
    width: 100%;

    ul {
      margin-left: 20px;
    }

    li {
      padding: 4px 10px;
    }
    
    a {
      padding: 6px 18px 8px;
      color: #FFF;
      font-size: 11pt;
    
      &:hover {
        text-decoration: underline;
      }
        
      &.sel{
        background: transparent image-url("degradat_menu_sup.jpg") repeat-x 0 0;
      }
    }
    
    .clear {
      clear: both;
      font-size: 1px;
      height: 1px;
    }
  }
}

/* CENTRE */
  /* LEFT */
  #left {
    ul.menu {
      li {
        padding: 5px 0 5px 0;
      }
    
      ul {
        padding-left: 10px;

        li {
          padding: 2px 0 2px 0;
        }
      }
    }
    
    a {
      color: #444;

      a {
        font-size: 9pt;
      }
    
      &.sel {
        font-weight: bold;
      }
    }
  }
  
  /* MAIN */
  #main {
    a {
      text-decoration: underline;
      font-weight: bold;
    }
    
    ul {
      list-style: none; 
      padding: 0 0 0 15px;
      margin: 0;
    
      &.ind {
        list-style: disc; 
        list-style-position: inside;

        li {
          padding: 3px 0;
        }
      }
    }
    
    #quadre {
      border: 2px solid black;
      width: 350px;
      ul {
        list-style: disc;
        margin: 14px 0 14px 15px;
      }
      li {
        margin: 0;
        padding: 0;
      }
    }
    
    #imatges {
      margin-top: 10px;
    }
  } 

  
  /* RIGHT */

/* PEU */
#peu {
	img {
		vertical-align: middle;
	}
	a {
   text-decoration: underline;
	}
}

/* MISC */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  border: 1px solid #999;
  padding: 5px;
  background-color: #EEE;
  @include box_sizing;
}

/* FORMS */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

